@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Belgrano&family=Katibeh&family=Playfair+Display:ital@1&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

.term {
    border: 2px solid rgb(100, 143, 107,0.5);
    border-radius: 20px;
    width:"auto";
    max-height: 500px;
    margin:30px 50px;
    box-shadow: 2px 2px 2px grey;
}

.news__title{
    width: auto;
    height: 100px;
    display: flex;
    background-color:rgb(100, 143, 107,0.15) ;
    /*background-color:  rgba(134, 187, 27, 0.3);*/
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(100, 143, 107,0.5);
}

.news__title a{
    font-family: 'Prata', serif;
    text-decoration: none;
    font-size: 25px;
    color: rgb(37, 58, 150);
    margin: 20px 0 20px 0;
    left: 0px;
}
.df{
      display: flex;
     flex-direction: column;
    
}
.mb10{
    margin-bottom: 10px;
}
.news__desc{
    /*font-family: 'Belgarano', sans-serif;*/
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 23px;
    /*background-color:rgb(100, 143, 107, 0.1) ;*/
    /*background-color: whitesmoke;*/
    height: 280px;
    overflow-y: auto;
    word-spacing: 5px;
}

.news__author{
    height: auto;
    text-align: center;
    font-weight: 600;
    margin: 10px;
    color: rgb(114, 113, 113);
    border-bottom: 2px solid rgb(180, 178, 178) ;
    margin-bottom: 3px;
}
.news__img img{
    height:250px;
    width:400px;
    float:left;
    margin: 10px;
    border-radius:10px;
    box-shadow:5px 5px 5px grey;
}

 /*@media (max-width: 600px){
    .news__title a{
        font-size: 15px;
    }

    .news__author{
        height: auto;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        margin: 10px;
        color: rgb(114, 113, 113);
        border-bottom: 2px solid rgb(180, 178, 178) ;
        margin-bottom: 3px;
    }

    .news__desc{
        font-family: 'Belgarano', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 12px;
        background-color: whitesmoke;
        height: 253px;
        overflow-y: auto;
    }
}*/

@media (max-width: 790px){
    .news__title a{
        font-size: 20px;
    }

    .news__author{
        height: auto;
        text-align: center;
        font-size: 10px;
        margin: 10px;
        color: rgb(114, 113, 113);
        border-bottom: 2px solid rgb(180, 178, 178) ;
        margin-bottom: 3px;
    }

    .news__desc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 18px;
        color: rgb(0, 0, 0);
        /*background-color: whitesmoke;*/
        height: 280px;
        overflow-y: auto;
    }
}



@media (max-width: 650px){
    .news__title a{
        font-size: 17px;
    }

    .news__author{
        height: auto;
        text-align: center;
        font-size: 10px;
        margin: 10px;
        color: rgb(114, 113, 113);
        border-bottom: 2px solid rgb(180, 178, 178) ;
        margin-bottom: 3px;
    }

    .news__desc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Alegreya Sans', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 16px;
        /*background-color: whitesmoke;*/
        height: 280px;
        overflow-y: auto;
    }

    .news__img img{
        height:200px;
        width:300px;
        float:left;
        margin: 10px;
        border-radius:10px;
        box-shadow:5px 5px 5px grey;
    }
}


@media (max-width: 420px){
    .news__title a{
        font-size: 12px;
    }

    .news__author{
        height: auto;
        text-align: center;
        font-size: 10px;
        margin: 10px;
        color: rgb(114, 113, 113);
        border-bottom: 2px solid rgb(180, 178, 178) ;
        margin-bottom: 3px;
    }

    .news__desc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Alegreya Sans', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 14px;
        /*background-color: whitesmoke;*/
        height: 280px;
        overflow-y: auto;
    }

    .news__img img{
        height:150px;
        width:250px;
        float:left;
        margin: 10px;
        border-radius:10px;
        box-shadow:5px 5px 5px grey;
    }
}

@media (max-width: 375px){
    .news__title a{
        font-size: 12px;
    }
    .news__author{
        height: auto;
        text-align: center;
        font-size: 10px;
        margin: 1px;
        color: rgb(114, 113, 113);
        border-bottom: 2px solid rgb(180, 178, 178) ;
        margin-bottom: 3px;
    }

    .news__desc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Alegreya Sans', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 12px;
        /*background-color: whitesmoke;*/
        height: 280px;
        overflow-y: auto;
    }

    .news__img img{
        height:150px;
        width:200px;
        float:left;
        margin: 10px;
        border-radius:10px;
        box-shadow:5px 5px 5px grey;
    }
}

@media (max-width: 320px){
    .news__title a{
        font-size: 12px;
    }

    .news__author{
        height: auto;
        text-align: center;
        font-size: 10px;
        margin: 10px;
        color: rgb(114, 113, 113);
        border-bottom: 2px solid rgb(180, 178, 178) ;
        margin-bottom: 3px;
    }

    .news__desc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Alegreya Sans', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 10px;
        /*background-color: whitesmoke;*/
        height: 280px;
        overflow-y: auto;
    }

    .news__img img{
        height:150px;
        width:150px;
        float:left;
        margin: 10px;
        border-radius:10px;
        box-shadow:5px 5px 5px grey;
    }
}

@media (max-width: 275px){
    .news__title a{
        font-size: 8px;
    }

    .news__author{
        height: auto;
        text-align: center;
        font-size: 5px;
        margin: 10px;
        color: rgb(114, 113, 113);
        border-bottom: 2px solid rgb(180, 178, 178) ;
        margin-bottom: 3px;
    }

    .news__desc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Alegreya Sans', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 8px;
        /*background-color: whitesmoke;*/
        height: 280px;
        overflow-y: auto;
    }

    .news__img img{
        display: none;
        height:150px;
        width:150px;
        float:left;
        margin: 10px;
        border-radius:10px;
        box-shadow:5px 5px 5px grey;
    }
}